$white-color: white;
$blue-color: #2196f7;
$green-color: #5bbd4b;
$orchid-color: #862676;
$gray-color: #cad3d3;
$grape-color: #282a3f;

$font-family-base: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

$fs-md-title: 50px;
$fs-md-item-info: 35px;
$fs-md-li-sub: 25px;
$fs-md-li: 17px;
