* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
ul {
  margin: 0;
  padding: 0;
}
:root {
  --white-color: white;
  --blue-color: #2196f7;
  --green-color: #5bbd4b;
  --orchid-color: #862676;
}
.list-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 100px 0;
  background-color: #cad3d3;
}

.item-box {
  width: 362px;
  margin-right: 30px;
}
/* chon phan tu cuoi cung cua chinh no */
.item-box:last-of-type {
  margin-right: 0;
}
.list-box .item-price {
  width: 100%;
  height: 272px;
  position: relative;
}
.item-price .item-image {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
}
.item-price .item-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  color: var(--white-color);
  font-size: 50px;
}
.item-title .item-title-extra {
  text-align: center;
  font-size: 15px;
}
.item-price .item-info {
  position: absolute;
  top: -60px;
  left: 121px;
  z-index: 3;
  width: 120px;
  background-color: var(--white-color);
  padding: 25px 0;
  border-radius: 50%;
}
.item-price .item-info-color {
  background-color: #2c2e3d;
}
.item-info .item-info-price {
  font-size: 35px;
  text-align: center;
}
.price-ocean,
.item-button-ocean {
  color: var(--blue-color);
}
.price-mountains,
.item-button-mountains {
  color: var(--orchid-color);
}
.price-forest,
.item-button-forest {
  color: var(--green-color);
}
.item-info .price-mountains {
  color: var(--orchid-color);
}
.item-info .price-forest {
  color: var(--green-color);
}
.item-info .item-info-note {
  font-size: 17px;
  text-align: center;
  color: #5f6775;
}
.item-price .item-image-new {
  position: absolute;
  top: -15px;
  left: -15px;
  z-index: 4;
}
.item-price .item-new {
  position: absolute;
  top: 4px;
  left: 0px;
  z-index: 5;
  text-transform: uppercase;
  font-size: 17px;
  color: var(--white-color);
}
.list-box .item-list {
  background-color: var(--white-color);
  width: 100%;
}
.item-list li {
  list-style: none;
  text-align: center;
  padding: 15px 0;
  font-size: 17px;
}
li .item-subtitle {
  font-size: 25px;
}
li .item-subtitle-details {
  font-size: 17px;
}
li:nth-child(2n) {
  background-color: #f4f6f7;
}
.item-button {
  background-color: var(--white-color);
  display: flex;
  justify-content: center;
  padding: 45px;
}
button {
  background-color: var(--white-color);
  padding: 12px 25px;
  border: 1px solid;
  text-transform: uppercase;
  font-size: 25px;
}
.item-button-ocean:hover {
  background-color: var(--blue-color);
  color: var(--white-color);
}
.item-button-mountains:hover {
  background-color: var(--orchid-color);
  color: var(--white-color);
}
.item-button-forest:hover {
  background-color: var(--green-color);
  color: var(--white-color);
}
